$icon-font-path: '../fonts/';
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

$green: #1F4827;
$red: #B8111E;

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background: #350a0e; /* Old browsers */
  background: -moz-linear-gradient(45deg, #350a0e 0%, #75171a 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #350a0e 0%,#75171a 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #350a0e 0%,#75171a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#350a0e', endColorstr='#75171a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  background-position: bottom;
}

.container{
  padding-top: 20%;
  div {
    color: #CBB552;
    font-family: 'Great Vibes', cursive;
    text-align: center;
    &.headline {
      font-size: 100px;
    }
    &.countdown {
      font-size: 45px;
    }
  }
}
