$icon-font-path: '../fonts/';
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

$green: #1F4827;
$red: #B8111E;

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-image: url('../images/background.jpg');
  background-position: bottom;
}

.container{
  padding-top: 20%;
  h1 {
    color: $red;
    font-size: 50px;
    text-align: center;
  }
}
